---
import { getImgUrl } from "@/uri";
import { defaultlocale, tcommons, tobj } from "@/i18n";
import type { Locale } from "@/types";

interface Props {
    title: {
        en: string,
        es: string
    },
    description: {
        en: string,
        es: string
    },
    img: string,
    date: string,
    link?: string,
    order?: number,
    blocked?: boolean
}

const { title, description, img, date, link, blocked=false } =
    Astro.props;

const locale = Astro.currentLocale as Locale || defaultlocale

// create a function to translate to locale languaje the objects: {en: "value", es: "valor"}
const t = tobj(locale);
const tcommon = tcommons(locale);

---
<a 
    href={link}
    target="_blank"
    referrerpolicy="no-referrer"    
    class={`relative block ${
    blocked ? '' : 'group'
  }`}

>
    {blocked && (
        <div class="absolute inset-0 flex items-center justify-center bg-gray-900/70 z-10 rounded-lg">
            <svg 
                class="w-12 h-12 text-white opacity-90"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
            >
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M16 11V7a4 4 0 10-8 0v4M5 11h14v9H5z" />
            </svg>
        </div>
    )}

  <div class="transition-all">
    <article
        class="group relative overflow-hidden w-full
            flex flex-row items-center
            rounded-lg border border-gray-700 bg-gray-800 shadow
            transition-all duration-500 hover:bg-gray-700"
    >
        {/* imagen */}
        <div class="relative w-32 sm:w-40 md:w-48 aspect-square overflow-hidden flex-shrink-0">
            <img
                src={getImgUrl(img)}
                alt={`${t(title)} icon`}
                class="h-full w-full object-cover
                    rounded-l-lg
                    transition-transform duration-500 group-hover:scale-105"
            />
        </div>

        {/* contenido */}
        <div class="flex flex-col justify-between w-full min-h-32 md:h-[232px] p-4">
            <div class="relative">
                <h5 class="text-xl sm:text-2xl font-bold tracking-tight text-white decoration-2 decoration-transparent underline-offset-4 group-hover:decoration-white transition-all duration-1000">
                    {t(title)}
                </h5>

                <p class="text-sm uppercase opacity-80 mt-1">
                    {blocked ? tcommon("certs-coming-soon") : date}
                </p>
            </div>

            <p class="mt-4 md:mt-0 font-normal text-gray-400 text-sm sm:text-base text-justify">
                {t(description)}
            </p>
        </div>
    </article>
  </div>

</a>
