---
interface Props {
    title: string;
    description: string;
    img: string;
    gh_link: string;
    used_tech: string[];
}

const { title, description, img, gh_link, used_tech } = Astro.props;
---

<a
    href={gh_link}
    class="flex flex-col items-center border rounded-lg shadow md:flex-row w-full border-gray-700 bg-gray-800 hover:bg-gray-700"
    target="_blank"
>
    <img
        class="object-cover w-full rounded-t-lg h-96 bg-white md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
        src={img}
        alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
            {title}
        </h5>
        <p class="mb-3 font-normal text-gray-400">
            {description}
        </p>
        <div class="flex flex-wrap gap-2">
            {
                used_tech?.map((tech) => (
                    <span class="px-2 py-1 text-sm font-semibold text-white bg-gray-700 rounded-md">
                        {tech}
                    </span>
                ))
            }
        </div>
    </div>
</a>
