---
import { tcommons, supportedLocales, defaultlocale } from "@/i18n";
import { getFullUrl, removeLocale } from "@/uri";
import type { Locale } from "@/types";
// import Spain from '@/components/icons/flags/Spain.astro'
// import UK from '@/components/icons/flags/UK.astro'

const nav = [
    { name: "nav-me", label: "#me" },
    { name: "nav-workexperience", label: "#work" },
    { name: "nav-certs", label: "#certs" },
    { name: "nav-homelabprojects", label: "#homelab" },
    { name: "nav-writeups", label: "/writeups" },
    { name: "nav-techstack", label: "#techstack"},
    // { name: "nav-webprojects", label: "#web" },
    // { name: "nav-otherprojects", label: "#other" },
];


const currentLocale = (Astro.currentLocale || defaultlocale) as Locale;
const currentPath = removeLocale(Astro.url.pathname);

const t = tcommons(currentLocale);
---

<header class="fixed flex md:hidden flex-row-reverse justify-start w-full z-20">
    <button 
    id="burger" class="z-20 flex flex-col gap-[5px] items-center justify-center w-fit mt-4 px-4 py-2 bg-slate-500/50 backdrop-blur-xl rounded-full">
        <span class={`bg-white opacity-95 w-7 h-1 transform transition duration-500 ease-in-out`}>
        </span>
        <span class={`bg-white opacity-95 w-7 h-1 transform transition duration-500 ease-in-out`}>
        </span>
        <span class={`bg-white opacity-95 w-7 h-1 transform transition duration-500 ease-in-out`}>
        </span>
    </button>
    <nav
        id="menu"
        class="close fixed inset-0 flex flex-col justify-center items-center gap-12 px-8 bg-slate-500/50 backdrop-blur-xl text-white font-semibold transition-transform duration-500 translate-x-full"
    >
        {
            nav.map((navElem) => (
                <a
                    href={getFullUrl(navElem.label, currentLocale)}
                    class="text-center text-2xl opacity-95 hover:opacity-100 px-2 rounded-full hover:scale-105 transform transition duration-200 ease-in-out"
                    aria-label={navElem.label}
                >
                    {t(navElem.name)}
                </a>
            ))
        }
        <ul class="text-2xl text-center">
            {
                supportedLocales.map((locale) => (
                    <li class="inline">
                        <a
                            href={getFullUrl("", locale)}
                            class={`text-center opacity-95 hover:opacity-100 px-2 rounded-full hover:scale-105 transform transition duration-200 ease-in-out ${locale === currentLocale ? "underline underline-offset-4" : ""}`}
                            aria-label={locale}
                        >
                            {locale.toUpperCase()}</a>
                    </li>
                ))
            }
</header>

<header class="hidden fixed md:flex justify-center w-full z-20 mt-4 px-2">
    <nav
        class="flex flex-col w-full md:w-fit md:flex-row flex-wrap align-center justify-center gap-x-0 md:gap-x-8 py-2 px-8 rounded-full bg-slate-500/50 backdrop-blur-xl text-white font-semibold"
    >
        {
            nav.map((navElem) => (
                <a
                    href={getFullUrl(navElem.label, currentLocale)}
                    class="text-center opacity-95 hover:opacity-100 px-2 rounded-full hover:scale-105 transform transition duration-200 ease-in-out"
                    aria-label={navElem.label}
                >{t(navElem.name)}
                </a>
            ))
        }

        <ul>
            {
                supportedLocales.map((locale) => (
                    <li class="inline">
                        <a
                            href={getFullUrl(currentPath, locale)}
                            class={`text-center opacity-85 hover:opacity-100 px-2 rounded-full hover:scale-105 transform transition duration-200 ease-in-out ${locale === currentLocale ? "underline underline-offset-4" : ""}`}
                            aria-label={locale}
                        >
                            <!-- {locale == "en" && <UK />} -->
                            <!-- {locale == "es" && <Spain />} -->
                            {locale.toLocaleUpperCase()}</a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>

<script>
    const burger = document.getElementById('burger');
    const menu = document.getElementById('menu');
    if (!burger || !menu) {
        // If the burger or menu element is not found, log an error
      console.error('Burger or menu element not found');
    } 
    else {
        const [topLine, middleLine, bottomLine] = burger.querySelectorAll('span');
    
        burger?.addEventListener('click', () => {
            const isOpen = menu.classList.toggle('translate-x-0');
            menu?.classList.toggle('translate-x-full');
        
            // Animación burger -> X
            topLine.classList.toggle('rotate-45');
            topLine.classList.toggle('translate-y-[9px]');
        
            middleLine.classList.toggle('opacity-0');
            middleLine.classList.toggle('opacity-95');
        
            bottomLine.classList.toggle('-rotate-45');
            bottomLine.classList.toggle('-translate-y-[9px]');
            if (isOpen) {
                document.body.classList.add('overflow-hidden');
            } else {
                document.body.classList.remove('overflow-hidden');
            }
        });

        // Close the menu when a link is clicked
        const closeLinks = document.querySelectorAll('.close');
        closeLinks.forEach(link => {
            link.addEventListener('click', () => {
                menu.classList.toggle('translate-x-full');
                menu.classList.toggle('translate-x-0');
                topLine.classList.toggle('rotate-45');
                topLine.classList.toggle('translate-y-[9px]');
                middleLine.classList.toggle('opacity-0');
                middleLine.classList.toggle('opacity-95');
                bottomLine.classList.toggle('-rotate-45');
                bottomLine.classList.toggle('-translate-y-[9px]');
                document.body.classList.toggle('overflow-hidden');
            });
        });
    }
  </script>