---
import { tcommons } from '@/i18n';
import DirectionsIcon from './icons/Directions.astro';
import Section from './Section.astro';
import WriteupList from './WriteupList.astro';

const onlyButtons = Astro.props.onlyButtons || false;
const showAll = Astro.props.showAll || false;
const showLocked = Astro.props.showLocked || false;

const currentLocale = Astro.props.locale || "en";

const t = tcommons(currentLocale);
---

<Section
    title={onlyButtons ? "writeups-seeother" : "nav-writeups"}
    id="writeups"
    locale={currentLocale}
>
    {!onlyButtons && <DirectionsIcon slot="icon" />}
    <p class="text-lg">
        {t("writeups-description")}
    </p>
    <WriteupList onlyButtons={onlyButtons} showAll={showAll} showLocked={showLocked} locale={currentLocale} />
</Section>