---
import "@/styles/global.css";

import { BASE_URL } from "@/consts";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "@fontsource-variable/onest";

interface Props {
	title: string;
	description: string;
	locale: string;
	doGradient?: boolean;
}

const { title, description, locale, doGradient=true } = Astro.props;
---

<!doctype html>
<html lang={locale} style="dark">
	<head>
		<meta name="google-site-verification" content="haZOKIxShWEkdbqSv6dQVHibDEnTArU_FbH45rTJPOI" />
		<link rel="sitemap" href="/portfolio/sitemap-index.xml" />
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href=`${BASE_URL}/svg.svg` />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body 
		class={`dark w-full
			${doGradient ? 
				"bg-gradient-to-b from-slate-500 to-slate-900" 
			:
				"bg-slate-600"
			}
		`}
	>
		<Header locale={locale} />
		<main class="min-h-[100vh]">	
			<slot />
		</main>
		<Footer locale={locale} />
	</body>

	<style is:global>
		:root {
			color-scheme: dark;
		}
		html {
			font-family: "Onest Variable", system-ui, sans-serif;
			scroll-behavior: smooth;
		}
		body {
			display: flex;
			flex-direction: column;
			min-height: 100vh;
			overscroll-behavior: none;
		}
	</style>
</html>
